

.preloader {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    animation: preloader-animation;
    animation-iteration-count: infinite;
    animation-duration: 1.3s;
    animation-timing-function: ease;
    animation-direction: normal;
}

.preloader:after {
    background-color: white;
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    height: 96px;
    width: 96px;
    border-radius: 50%;
}

.preloader:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.preloader-small {
    width: 20px;
    height: 20px;
}

.preloader-small:after {
    height: 16px;
    width: 16px;
}

.preloader-small:before {
    width: 10px;
    height: 5px;
}

@keyframes preloader-animation {
    from {
        transform: rotate(0deg);
        background: linear-gradient(to left, rgb(197, 65, 164), rgb(221, 163, 39))
    }
    to {
        transform: rotate(360deg);
        background: linear-gradient(to left, rgb(65, 107, 197), rgb(182, 221, 39))
    }
}